<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/Images/new logo.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./CSS/homeStyle.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <title>Home Page</title>
  </head>
  <body>
    <main>
      <section class="landing">
        <nav>
          <a href="/sign"><img src="./Images/HomePage/logo.jpg" alt="user" width="100" id="logo"></a>
        	<div class="hamburger">
        		<div class="line1"></div>
        		<div class="line2"></div>
        		<div class="line3"></div>
      		</div>
          <ul class="nav-links" color="white">
            <li><a href="#about">About</a></li                                                                             
            ><li><a href="#contact">Contact</a></li
            ><li><a href="/sign">Sign Up or Sign In</a></li
            ></ul>
        </nav>
        <video autoplay class="bgvideo" muted plays-inline>
          <source src="./Images/HomePage/ping new.mp4" type="video/mp4">  
        </video>
      </section>
    <div class="intro">
      <div class="intro-text">
        <h1 class="hide">
          <span class="text">The new way</span>
        </h1>
        <h1 class="hide">
          <span class="text">to Connect</span>
        </h1>
        <h1 class="hide">
          <span class="text">to Everyone.</span>
        </h1>
      </div>
    </div>
    <div class="slider"></div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
      integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
      crossorigin="anonymous"
    ></script>
    </div>
   <!-- end of first section -->
   <div class="aboutus">
        <h2><a id="about"><i><b>About us</a></b></i></h2>
        <p class="about-text">We at Ping believe in diversity in accessibility of information and since communication is one of the most popular and quickest method of transferring information, we developed a chatting platform for you to fall in love with. Since information is not only limited to communication we also allow file transfers, so no more worrying about sharing limit restrictions. Our encrypted and secure database helps you be stress free of any sort of online frauds.</p><br>
        <h2>Our Main Features are:-</h2>
   </div>
   <div class="features">
   		<div class="file-sharing columns">
   			<svg width="541" height="316" viewBox="0 0 441 216" fill="none" xmlns="http://www.w3.org/2000/svg" class="filesharing col">
<g id="undraw_my_files_swob 1" clip-path="url(#clip0)">
<g id="files">
<path id="Vector" d="M240.847 23.2942H138.912C136.843 23.2967 134.86 24.0644 133.397 25.4291C131.934 26.7937 131.111 28.6438 131.108 30.5736V78.2156H146.796C147.943 78.2127 149.072 78.483 150.076 79.0008C151.08 79.5187 151.926 80.267 152.534 81.175L157.971 89.2486L163.17 96.9621L164.146 98.4127L170.094 107.238L170.162 107.339H248.651V30.5736C248.648 28.6438 247.825 26.7937 246.362 25.4291C244.899 24.0644 242.916 23.2967 240.847 23.2942V23.2942Z" fill="url(#paint0_linear)"/>
<path id="Vector_2" d="M200.442 37.8584H149.934C148.595 37.8584 147.311 38.3545 146.364 39.2377C145.418 40.1208 144.886 41.3186 144.886 42.5675C144.886 43.8165 145.418 45.0142 146.364 45.8974C147.311 46.7805 148.595 47.2767 149.934 47.2767H200.442C201.781 47.2767 203.065 46.7805 204.012 45.8974C204.959 45.0142 205.491 43.8165 205.491 42.5675C205.491 41.3186 204.959 40.1208 204.012 39.2377C203.065 38.3545 201.781 37.8584 200.442 37.8584Z" fill="white"/>
<path id="Vector_3" d="M228.451 60.9832H150.394C148.932 60.9832 147.531 61.5248 146.497 62.4888C145.463 63.4529 144.883 64.7604 144.883 66.1238C144.883 67.4871 145.463 68.7947 146.497 69.7587C147.531 70.7228 148.932 71.2644 150.394 71.2644H228.451C229.913 71.2644 231.315 70.7228 232.348 69.7587C233.382 68.7947 233.962 67.4871 233.962 66.1238C233.962 64.7604 233.382 63.4529 232.348 62.4888C231.315 61.5248 229.913 60.9832 228.451 60.9832V60.9832Z" fill="white"/>
<path id="Vector_4" d="M233.435 81.9321C232.991 81.0482 232.287 80.3005 231.404 79.7764C230.522 79.2523 229.497 78.9735 228.451 78.9727H150.394C150.275 78.9727 150.161 78.9779 150.042 78.9832C151.06 79.5023 151.918 80.2571 152.534 81.175L157.971 89.2486H228.451C229.378 89.2488 230.29 89.0307 231.102 88.6145C231.915 88.1983 232.601 87.5975 233.098 86.8677C233.596 86.138 233.887 85.303 233.946 84.4402C234.004 83.5773 233.829 82.7146 233.435 81.9321V81.9321Z" fill="white"/>
<path id="Vector_5" d="M296.213 64.3238L288.267 61.4279L248.651 47.0066L201.254 29.753C199.324 29.0547 197.177 29.0983 195.282 29.8744C193.387 30.6504 191.9 32.0956 191.145 33.8931L189.488 37.8584L185.543 47.2766L179.811 60.9832L175.509 71.2644L172.285 78.9726L167.983 89.2486L164.753 96.9621L164.663 97.1845L164.146 98.4127L170.094 107.238L170.162 107.339H280.333C281.344 107.338 282.343 107.548 283.255 107.955C284.168 108.362 284.971 108.955 285.605 109.689L286.071 108.588L291.758 95.0033L300.646 73.7579C301.396 71.9584 301.351 69.9547 300.52 68.1862C299.689 66.4177 298.14 65.0287 296.213 64.3238V64.3238Z" fill="url(#paint1_linear)"/>
<path id="Vector_6" d="M252.897 64.1861L248.651 62.6402L205.845 47.0596C204.597 46.609 203.208 46.6372 201.982 47.1381C200.756 47.639 199.793 48.5718 199.301 49.7331C198.817 50.898 198.848 52.1942 199.386 53.3382C199.924 54.4821 200.926 55.3807 202.173 55.8372L216.311 60.9832L233.798 67.3467L248.651 72.7573L249.224 72.9638C250.472 73.4155 251.86 73.3871 253.085 72.8848C254.31 72.3825 255.271 71.4474 255.757 70.2847C256.244 69.122 256.216 67.8268 255.679 66.6834C255.143 65.54 254.142 64.6419 252.897 64.1861V64.1861Z" fill="white"/>
<path id="Vector_7" d="M269.969 95.231L248.651 87.4698L233.435 81.9321L225.307 78.9727L204.137 71.2644L197.258 68.7603C195.975 68.2929 194.55 68.2908 193.265 68.7543C191.981 69.2178 190.929 70.1133 190.316 71.2644C190.249 71.3967 190.18 71.5344 190.124 71.6773C189.86 72.3058 189.733 72.9765 189.747 73.6511C189.762 74.3257 189.919 74.991 190.209 75.609C190.5 76.2269 190.918 76.7855 191.44 77.2527C191.962 77.72 192.577 78.0867 193.251 78.3321L195.01 78.9727L223.23 89.2486L248.651 98.5027L265.962 104.808C266.599 105.04 267.276 105.159 267.96 105.157C269.245 105.16 270.491 104.742 271.481 103.978C272.472 103.214 273.144 102.15 273.383 100.972C273.621 99.7941 273.41 98.5753 272.787 97.5268C272.164 96.4783 271.167 95.6661 269.969 95.231H269.969Z" fill="white"/>
<path id="Vector_8" d="M248.651 106.777L247.283 106.28L233.906 101.409L221.686 96.9621L200.493 89.2486L190.243 85.5162C189.568 85.2701 188.849 85.1504 188.125 85.164C187.401 85.1776 186.687 85.3242 186.023 85.5954C185.36 85.8666 184.761 86.2571 184.259 86.7445C183.758 87.232 183.365 87.8068 183.102 88.4362C182.839 89.0656 182.711 89.7371 182.727 90.4124C182.742 91.0877 182.901 91.7536 183.192 92.3719C183.484 92.9902 183.903 93.5488 184.426 94.0157C184.95 94.4827 185.566 94.8489 186.242 95.0933L191.372 96.9622L216.969 106.28L219.603 107.238L219.875 107.339H250.189L248.651 106.777Z" fill="white"/>
<path id="Vector_9" d="M196.872 107.238L194.238 106.28L183.233 102.272C182.464 101.991 181.638 101.875 180.814 101.933C179.991 101.991 179.192 102.221 178.477 102.606C177.762 102.99 177.148 103.521 176.683 104.157C176.217 104.793 175.911 105.518 175.787 106.28C175.732 106.597 175.711 106.917 175.724 107.238C175.723 107.272 175.725 107.305 175.73 107.339H197.15L196.872 107.238Z" fill="white"/>
</g>
<g id="nonmoving">
<g id="Vector_10" filter="url(#filter0_d)">
<mask id="path-10-inside-1" fill="white">
<path d="M219.2 108.434L216.566 107.475H175.384C175.329 107.792 175.308 108.113 175.321 108.434H169.691L169.759 108.534H219.472L219.2 108.434ZM219.2 108.434H169.691L169.759 108.534H219.472L219.2 108.434ZM219.2 108.434H169.691L169.759 108.534H219.472L219.2 108.434ZM219.472 108.534L219.2 108.434H169.691L169.759 108.534H219.472ZM120.143 214.549C118.346 214.547 116.624 213.88 115.354 212.695C114.084 211.51 113.369 209.904 113.366 208.228V85.7378C113.368 84.0612 114.082 82.4537 115.352 81.2677C116.623 80.0817 118.345 79.4141 120.143 79.4113H130.705V78.3524H120.143C118.045 78.3561 116.034 79.1356 114.551 80.5199C113.067 81.9043 112.233 83.7807 112.231 85.7378V208.228C112.233 209.644 112.671 211.03 113.493 212.22C114.315 213.41 115.486 214.355 116.868 214.941H216.862C216.771 214.814 216.68 214.682 216.589 214.549H120.143ZM285.668 109.784C284.931 109.054 284.041 108.473 283.055 108.076C282.068 107.679 281.004 107.475 279.93 107.475H170.389L164.26 98.3802L164.112 98.1578L158.913 90.4443L153.09 81.8042C152.376 80.7488 151.388 79.8788 150.217 79.2753C149.046 78.6718 147.73 78.3543 146.393 78.3524H120.143C118.045 78.3561 116.034 79.1356 114.551 80.5199C113.067 81.9043 112.233 83.7807 112.231 85.7378V208.228C112.233 209.644 112.671 211.03 113.493 212.22C114.315 213.41 115.486 214.355 116.868 214.941C117.895 215.382 119.012 215.61 120.143 215.608H279.93C281.062 215.61 282.181 215.382 283.21 214.941C284.592 214.354 285.763 213.41 286.585 212.22C287.407 211.029 287.846 209.644 287.847 208.228V114.861C287.849 112.97 287.068 111.151 285.668 109.784V109.784ZM286.712 208.228C286.709 209.905 285.993 211.512 284.722 212.697C283.45 213.882 281.727 214.548 279.93 214.549H120.143C118.346 214.547 116.624 213.88 115.354 212.695C114.084 211.51 113.369 209.904 113.366 208.228V85.7378C113.368 84.0612 114.082 82.4537 115.352 81.2677C116.623 80.0817 118.345 79.4141 120.143 79.4113H146.393C147.54 79.4083 148.669 79.6786 149.673 80.1965C150.677 80.7144 151.523 81.4627 152.131 82.3707L157.568 90.4442L162.767 98.1578L163.743 99.6084L169.691 108.434L169.759 108.534H279.93C281.728 108.536 283.452 109.203 284.724 110.389C285.996 111.575 286.711 113.183 286.712 114.861V208.228ZM219.2 108.434H169.691L169.759 108.534H219.472L219.2 108.434ZM219.2 108.434H169.691L169.759 108.534H219.472L219.2 108.434ZM219.2 108.434H169.691L169.759 108.534H219.472L219.2 108.434ZM219.2 108.434L216.566 107.475H170.389L164.26 98.3802L163.743 99.6084L169.691 108.434L169.759 108.534H219.472L219.2 108.434Z"/>
</mask>
<path d="M219.2 108.434L216.566 107.475H175.384C175.329 107.792 175.308 108.113 175.321 108.434H169.691L169.759 108.534H219.472L219.2 108.434ZM219.2 108.434H169.691L169.759 108.534H219.472L219.2 108.434ZM219.2 108.434H169.691L169.759 108.534H219.472L219.2 108.434ZM219.472 108.534L219.2 108.434H169.691L169.759 108.534H219.472ZM120.143 214.549C118.346 214.547 116.624 213.88 115.354 212.695C114.084 211.51 113.369 209.904 113.366 208.228V85.7378C113.368 84.0612 114.082 82.4537 115.352 81.2677C116.623 80.0817 118.345 79.4141 120.143 79.4113H130.705V78.3524H120.143C118.045 78.3561 116.034 79.1356 114.551 80.5199C113.067 81.9043 112.233 83.7807 112.231 85.7378V208.228C112.233 209.644 112.671 211.03 113.493 212.22C114.315 213.41 115.486 214.355 116.868 214.941H216.862C216.771 214.814 216.68 214.682 216.589 214.549H120.143ZM285.668 109.784C284.931 109.054 284.041 108.473 283.055 108.076C282.068 107.679 281.004 107.475 279.93 107.475H170.389L164.26 98.3802L164.112 98.1578L158.913 90.4443L153.09 81.8042C152.376 80.7488 151.388 79.8788 150.217 79.2753C149.046 78.6718 147.73 78.3543 146.393 78.3524H120.143C118.045 78.3561 116.034 79.1356 114.551 80.5199C113.067 81.9043 112.233 83.7807 112.231 85.7378V208.228C112.233 209.644 112.671 211.03 113.493 212.22C114.315 213.41 115.486 214.355 116.868 214.941C117.895 215.382 119.012 215.61 120.143 215.608H279.93C281.062 215.61 282.181 215.382 283.21 214.941C284.592 214.354 285.763 213.41 286.585 212.22C287.407 211.029 287.846 209.644 287.847 208.228V114.861C287.849 112.97 287.068 111.151 285.668 109.784V109.784ZM286.712 208.228C286.709 209.905 285.993 211.512 284.722 212.697C283.45 213.882 281.727 214.548 279.93 214.549H120.143C118.346 214.547 116.624 213.88 115.354 212.695C114.084 211.51 113.369 209.904 113.366 208.228V85.7378C113.368 84.0612 114.082 82.4537 115.352 81.2677C116.623 80.0817 118.345 79.4141 120.143 79.4113H146.393C147.54 79.4083 148.669 79.6786 149.673 80.1965C150.677 80.7144 151.523 81.4627 152.131 82.3707L157.568 90.4442L162.767 98.1578L163.743 99.6084L169.691 108.434L169.759 108.534H279.93C281.728 108.536 283.452 109.203 284.724 110.389C285.996 111.575 286.711 113.183 286.712 114.861V208.228ZM219.2 108.434H169.691L169.759 108.534H219.472L219.2 108.434ZM219.2 108.434H169.691L169.759 108.534H219.472L219.2 108.434ZM219.2 108.434H169.691L169.759 108.534H219.472L219.2 108.434ZM219.2 108.434L216.566 107.475H170.389L164.26 98.3802L163.743 99.6084L169.691 108.434L169.759 108.534H219.472L219.2 108.434Z" fill="#22212D"/>
<path d="M219.2 108.434L220.932 103.743L220.921 103.739L220.91 103.735L219.2 108.434ZM216.566 107.475L218.276 102.777L217.448 102.475H216.566V107.475ZM175.384 107.475V102.475H171.171L170.456 106.627L175.384 107.475ZM175.321 108.434V113.434H180.53L180.317 108.23L175.321 108.434ZM169.691 108.434V103.434H160.262L165.552 111.239L169.691 108.434ZM169.759 108.534L165.62 111.339L167.108 113.534H169.759V108.534ZM219.472 108.534V113.534L221.204 103.844L219.472 108.534ZM219.2 108.434L220.932 103.743L220.094 103.434H219.2V108.434ZM169.691 108.434V103.434H160.262L165.552 111.239L169.691 108.434ZM169.759 108.534L165.62 111.339L167.108 113.534H169.759V108.534ZM219.472 108.534V113.534L221.204 103.844L219.472 108.534ZM219.2 108.434L220.932 103.743L220.094 103.434H219.2V108.434ZM169.691 108.434V103.434H160.262L165.552 111.239L169.691 108.434ZM169.759 108.534L165.62 111.339L167.108 113.534H169.759V108.534ZM219.472 108.534V113.534L221.204 103.844L219.472 108.534ZM219.472 108.534V113.534L221.204 103.844L219.472 108.534ZM219.2 108.434L220.932 103.743L220.094 103.434H219.2V108.434ZM169.691 108.434V103.434H160.262L165.552 111.239L169.691 108.434ZM169.759 108.534L165.62 111.339L167.108 113.534H169.759V108.534ZM120.143 214.549L120.136 219.549H120.143V214.549ZM113.366 208.228L108.366 208.228L108.366 208.236L113.366 208.228ZM113.366 85.7378L108.366 85.7331V85.7378H113.366ZM120.143 79.4113L120.143 74.4113L120.135 74.4113L120.143 79.4113ZM130.705 79.4113V84.4113H135.705V79.4113H130.705ZM130.705 78.3524H135.705V73.3524H130.705V78.3524ZM120.143 78.3524L120.143 73.3524L120.134 73.3524L120.143 78.3524ZM112.231 85.7378L107.231 85.7316V85.7378H112.231ZM112.231 208.228L107.231 208.228L107.231 208.235L112.231 208.228ZM116.868 214.941L114.913 219.543L115.85 219.941H116.868V214.941ZM216.862 214.941V219.941H226.569L220.932 212.038L216.862 214.941ZM216.589 214.549L220.711 211.719L219.221 209.549H216.589V214.549ZM279.93 107.475L279.93 112.475L279.933 112.475L279.93 107.475ZM170.389 107.475L166.243 110.27L167.729 112.475H170.389V107.475ZM164.26 98.3802L160.095 101.147L160.104 101.161L160.113 101.174L164.26 98.3802ZM164.112 98.1578L168.277 95.3914L168.268 95.3773L168.258 95.3633L164.112 98.1578ZM158.913 90.4443L163.059 87.6498L163.059 87.6497L158.913 90.4443ZM153.09 81.8042L157.236 79.0097L157.232 79.0034L153.09 81.8042ZM146.393 78.3524L146.4 73.3524H146.393V78.3524ZM120.143 78.3524L120.143 73.3524L120.134 73.3524L120.143 78.3524ZM112.231 85.7378L107.231 85.7316V85.7378H112.231ZM112.231 208.228L107.231 208.228L107.231 208.235L112.231 208.228ZM116.868 214.941L118.841 210.347L118.832 210.343L118.822 210.339L116.868 214.941ZM120.143 215.608L120.143 210.608L120.136 210.608L120.143 215.608ZM279.93 215.608L279.936 210.608H279.93V215.608ZM283.21 214.941L281.256 210.339L281.248 210.342L281.241 210.345L283.21 214.941ZM287.847 208.228L292.847 208.235V208.228H287.847ZM287.847 114.861L282.847 114.857V114.861H287.847ZM286.712 208.228L291.712 208.237V208.228H286.712ZM279.93 214.549L279.93 219.549L279.934 219.549L279.93 214.549ZM120.143 214.549L120.136 219.549H120.143V214.549ZM113.366 208.228L108.366 208.228L108.366 208.236L113.366 208.228ZM113.366 85.7378L108.366 85.7331V85.7378H113.366ZM120.143 79.4113L120.143 74.4113L120.135 74.4113L120.143 79.4113ZM146.393 79.4113L146.393 84.4113L146.405 84.4112L146.393 79.4113ZM152.131 82.3707L147.975 85.1509L147.979 85.1573L147.984 85.1637L152.131 82.3707ZM157.568 90.4442L153.421 93.2373L153.422 93.2388L157.568 90.4442ZM162.767 98.1578L166.915 95.3665L166.913 95.3632L162.767 98.1578ZM163.743 99.6084L159.595 102.4L159.597 102.403L163.743 99.6084ZM169.691 108.434L165.545 111.228L165.552 111.239L169.691 108.434ZM169.759 108.534L165.62 111.339L167.108 113.534H169.759V108.534ZM279.93 108.534L279.934 103.534H279.93V108.534ZM286.712 114.861L291.712 114.861L291.712 114.856L286.712 114.861ZM219.2 108.434L220.932 103.743L220.094 103.434H219.2V108.434ZM169.691 108.434V103.434H160.262L165.552 111.239L169.691 108.434ZM169.759 108.534L165.62 111.339L167.108 113.534H169.759V108.534ZM219.472 108.534V113.534L221.204 103.844L219.472 108.534ZM219.2 108.434L220.932 103.743L220.094 103.434H219.2V108.434ZM169.691 108.434V103.434H160.262L165.552 111.239L169.691 108.434ZM169.759 108.534L165.62 111.339L167.108 113.534H169.759V108.534ZM219.472 108.534V113.534L221.204 103.844L219.472 108.534ZM219.2 108.434L220.932 103.743L220.094 103.434H219.2V108.434ZM169.691 108.434V103.434H160.262L165.552 111.239L169.691 108.434ZM169.759 108.534L165.62 111.339L167.108 113.534H169.759V108.534ZM219.472 108.534V113.534L221.204 103.844L219.472 108.534ZM219.2 108.434L220.932 103.743L220.921 103.739L220.91 103.735L219.2 108.434ZM216.566 107.475L218.276 102.777L217.448 102.475H216.566V107.475ZM170.389 107.475L166.243 110.27L167.729 112.475H170.389V107.475ZM164.26 98.3802L168.406 95.5858L163.237 87.9155L159.651 96.4417L164.26 98.3802ZM163.743 99.6084L159.134 97.6699L158.086 100.161L159.597 102.403L163.743 99.6084ZM169.691 108.434L165.545 111.228L165.552 111.239L169.691 108.434ZM169.759 108.534L165.62 111.339L167.108 113.534H169.759V108.534ZM219.472 108.534V113.534L221.204 103.844L219.472 108.534ZM220.91 103.735L218.276 102.777L214.857 112.174L217.49 113.132L220.91 103.735ZM216.566 102.475H175.384V112.475H216.566V102.475ZM170.456 106.627C170.342 107.29 170.298 107.964 170.326 108.638L180.317 108.23C180.319 108.262 180.316 108.294 180.311 108.324L170.456 106.627ZM175.321 103.434H169.691V113.434H175.321V103.434ZM165.552 111.239L165.62 111.339L173.898 105.729L173.83 105.629L165.552 111.239ZM169.759 113.534H219.472V103.534H169.759V113.534ZM221.204 103.844L220.932 103.743L217.468 113.124L217.741 113.225L221.204 103.844ZM219.2 103.434H169.691V113.434H219.2V103.434ZM165.552 111.239L165.62 111.339L173.898 105.729L173.83 105.629L165.552 111.239ZM169.759 113.534H219.472V103.534H169.759V113.534ZM221.204 103.844L220.932 103.743L217.468 113.124L217.741 113.225L221.204 103.844ZM219.2 103.434H169.691V113.434H219.2V103.434ZM165.552 111.239L165.62 111.339L173.898 105.729L173.83 105.629L165.552 111.239ZM169.759 113.534H219.472V103.534H169.759V113.534ZM221.204 103.844L220.932 103.743L217.468 113.124L217.741 113.225L221.204 103.844ZM221.204 103.844L220.932 103.743L217.468 113.124L217.741 113.225L221.204 103.844ZM219.2 103.434H169.691V113.434H219.2V103.434ZM165.552 111.239L165.62 111.339L173.898 105.729L173.83 105.629L165.552 111.239ZM169.759 113.534H219.472V103.534H169.759V113.534ZM120.15 209.549C119.569 209.549 119.076 209.33 118.764 209.039L111.943 216.351C114.172 218.43 117.123 219.545 120.136 219.549L120.15 209.549ZM118.764 209.039C118.464 208.759 118.366 208.456 118.366 208.22L108.366 208.236C108.371 211.352 109.703 214.262 111.943 216.351L118.764 209.039ZM118.366 208.228V85.7378H108.366V208.228H118.366ZM118.366 85.7424C118.366 85.5062 118.464 85.2031 118.764 84.9226L111.94 77.6129C109.7 79.7043 108.369 82.6163 108.366 85.7331L118.366 85.7424ZM118.764 84.9226C119.076 84.6312 119.569 84.4122 120.151 84.4113L120.135 74.4113C117.121 74.4161 114.169 75.5323 111.94 77.6129L118.764 84.9226ZM120.143 84.4113H130.705V74.4113H120.143V84.4113ZM135.705 79.4113V78.3524H125.705V79.4113H135.705ZM130.705 73.3524H120.143V83.3524H130.705V73.3524ZM120.134 73.3524C116.82 73.3582 113.58 74.5863 111.139 76.8649L117.962 84.175C118.487 83.6848 119.269 83.354 120.151 83.3524L120.134 73.3524ZM111.139 76.8649C108.686 79.1543 107.235 82.3346 107.231 85.7316L117.231 85.744C117.231 85.2267 117.449 84.6543 117.962 84.175L111.139 76.8649ZM107.231 85.7378V208.228H117.231V85.7378H107.231ZM107.231 208.235C107.234 210.687 107.994 213.057 109.379 215.061L117.607 209.378C117.347 209.002 117.231 208.601 117.231 208.222L107.231 208.235ZM109.379 215.061C110.76 217.061 112.694 218.601 114.913 219.543L118.822 210.339C118.279 210.108 117.869 209.758 117.607 209.378L109.379 215.061ZM116.868 219.941H216.862V209.941H116.868V219.941ZM220.932 212.038C220.872 211.953 220.807 211.859 220.711 211.719L212.468 217.38C212.553 217.505 212.67 217.675 212.791 217.845L220.932 212.038ZM216.589 209.549H120.143V219.549H216.589V209.549ZM289.185 106.23C287.963 105.02 286.508 104.076 284.921 103.437L281.189 112.715C281.574 112.87 281.898 113.088 282.15 113.337L289.185 106.23ZM284.921 103.437C283.333 102.799 281.635 102.474 279.926 102.475L279.933 112.475C280.374 112.475 280.802 112.559 281.189 112.715L284.921 103.437ZM279.93 102.475H170.389V112.475H279.93V102.475ZM174.536 104.681L168.406 95.5858L160.113 101.174L166.243 110.27L174.536 104.681ZM168.425 95.6138L168.277 95.3914L159.947 100.924L160.095 101.147L168.425 95.6138ZM168.258 95.3633L163.059 87.6498L154.767 93.2387L159.966 100.952L168.258 95.3633ZM163.059 87.6497L157.236 79.0097L148.944 84.5987L154.767 93.2388L163.059 87.6497ZM157.232 79.0034C156.032 77.2295 154.397 75.8049 152.508 74.8309L147.926 83.7197C148.378 83.9527 148.72 84.268 148.948 84.605L157.232 79.0034ZM152.508 74.8309C150.619 73.8576 148.519 73.3555 146.4 73.3524L146.386 83.3524C146.942 83.3532 147.473 83.4861 147.926 83.7197L152.508 74.8309ZM146.393 73.3524H120.143V83.3524H146.393V73.3524ZM120.134 73.3524C116.82 73.3582 113.58 74.5863 111.139 76.8649L117.962 84.175C118.487 83.6848 119.269 83.354 120.151 83.3524L120.134 73.3524ZM111.139 76.8649C108.686 79.1543 107.235 82.3346 107.231 85.7316L117.231 85.744C117.231 85.2267 117.449 84.6543 117.962 84.175L111.139 76.8649ZM107.231 85.7378V208.228H117.231V85.7378H107.231ZM107.231 208.235C107.234 210.687 107.994 213.057 109.379 215.061L117.607 209.378C117.347 209.002 117.231 208.601 117.231 208.222L107.231 208.235ZM109.379 215.061C110.76 217.061 112.694 218.601 114.913 219.543L118.822 210.339C118.278 210.108 117.869 209.758 117.607 209.378L109.379 215.061ZM114.895 219.535C116.555 220.248 118.346 220.611 120.15 220.608L120.136 210.608C119.678 210.609 119.235 210.516 118.841 210.347L114.895 219.535ZM120.143 220.608H279.93V210.608H120.143V220.608ZM279.923 220.608C281.727 220.611 283.519 220.249 285.18 219.537L281.241 210.345C280.844 210.516 280.397 210.609 279.936 210.608L279.923 220.608ZM285.165 219.543C287.384 218.601 289.318 217.061 290.699 215.061L282.471 209.378C282.209 209.758 281.8 210.108 281.256 210.339L285.165 219.543ZM290.699 215.061C292.084 213.057 292.844 210.687 292.847 208.235L282.847 208.222C282.847 208.601 282.731 209.002 282.471 209.378L290.699 215.061ZM292.847 208.228V114.861H282.847V208.228H292.847ZM292.847 114.865C292.85 111.574 291.488 108.479 289.161 106.206L282.174 113.361C282.648 113.824 282.848 114.366 282.847 114.857L292.847 114.865ZM281.712 208.219C281.712 208.455 281.614 208.758 281.313 209.039L288.131 216.354C290.373 214.265 291.706 211.354 291.712 208.237L281.712 208.219ZM281.313 209.039C281 209.33 280.507 209.549 279.926 209.549L279.934 219.549C282.947 219.547 285.901 218.433 288.131 216.354L281.313 209.039ZM279.93 209.549H120.143V219.549H279.93V209.549ZM120.15 209.549C119.569 209.549 119.076 209.33 118.764 209.039L111.943 216.351C114.172 218.43 117.123 219.545 120.136 219.549L120.15 209.549ZM118.764 209.039C118.464 208.759 118.366 208.456 118.366 208.22L108.366 208.236C108.371 211.352 109.703 214.262 111.943 216.351L118.764 209.039ZM118.366 208.228V85.7378H108.366V208.228H118.366ZM118.366 85.7424C118.366 85.5062 118.464 85.2031 118.764 84.9226L111.94 77.6129C109.7 79.7043 108.369 82.6163 108.366 85.7331L118.366 85.7424ZM118.764 84.9226C119.076 84.6312 119.569 84.4122 120.151 84.4113L120.135 74.4113C117.121 74.4161 114.169 75.5323 111.94 77.6129L118.764 84.9226ZM120.143 84.4113H146.393V74.4113H120.143V84.4113ZM146.405 84.4112C146.764 84.4103 147.101 84.4958 147.381 84.6403L151.965 75.7527C150.237 74.8615 148.316 74.4064 146.38 74.4113L146.405 84.4112ZM147.381 84.6403C147.66 84.7841 147.854 84.9709 147.975 85.1509L156.286 79.5905C155.192 77.9545 153.695 76.6447 151.965 75.7527L147.381 84.6403ZM147.984 85.1637L153.421 93.2373L161.715 87.6512L156.278 79.5777L147.984 85.1637ZM153.422 93.2388L158.621 100.952L166.913 95.3632L161.714 87.6497L153.422 93.2388ZM158.619 100.949L159.595 102.4L167.891 96.8171L166.915 95.3665L158.619 100.949ZM159.597 102.403L165.545 111.228L173.837 105.639L167.889 96.8139L159.597 102.403ZM165.552 111.239L165.62 111.339L173.898 105.729L173.83 105.629L165.552 111.239ZM169.759 113.534H279.93V103.534H169.759V113.534ZM279.926 113.534C280.507 113.535 281.001 113.754 281.313 114.045L288.134 106.733C285.904 104.652 282.949 103.537 279.934 103.534L279.926 113.534ZM281.313 114.045C281.614 114.326 281.712 114.629 281.712 114.865L291.712 114.856C291.709 111.738 290.377 108.824 288.134 106.733L281.313 114.045ZM281.712 114.861V208.228H291.712V114.861H281.712ZM219.2 103.434H169.691V113.434H219.2V103.434ZM165.552 111.239L165.62 111.339L173.898 105.729L173.83 105.629L165.552 111.239ZM169.759 113.534H219.472V103.534H169.759V113.534ZM221.204 103.844L220.932 103.743L217.468 113.124L217.741 113.225L221.204 103.844ZM219.2 103.434H169.691V113.434H219.2V103.434ZM165.552 111.239L165.62 111.339L173.898 105.729L173.83 105.629L165.552 111.239ZM169.759 113.534H219.472V103.534H169.759V113.534ZM221.204 103.844L220.932 103.743L217.468 113.124L217.741 113.225L221.204 103.844ZM219.2 103.434H169.691V113.434H219.2V103.434ZM165.552 111.239L165.62 111.339L173.898 105.729L173.83 105.629L165.552 111.239ZM169.759 113.534H219.472V103.534H169.759V113.534ZM221.204 103.844L220.932 103.743L217.468 113.124L217.741 113.225L221.204 103.844ZM220.91 103.735L218.276 102.777L214.857 112.174L217.49 113.132L220.91 103.735ZM216.566 102.475H170.389V112.475H216.566V102.475ZM174.536 104.681L168.406 95.5858L160.113 101.174L166.243 110.27L174.536 104.681ZM159.651 96.4417L159.134 97.6699L168.352 101.547L168.869 100.319L159.651 96.4417ZM159.597 102.403L165.545 111.228L173.837 105.639L167.889 96.8139L159.597 102.403ZM165.552 111.239L165.62 111.339L173.898 105.729L173.83 105.629L165.552 111.239ZM169.759 113.534H219.472V103.534H169.759V113.534ZM221.204 103.844L220.932 103.743L217.468 113.124L217.741 113.225L221.204 103.844Z" fill="black" mask="url(#path-10-inside-1)"/>
</g>
<path id="Vector_11" d="M89.0671 152.349L85.8161 158.69L58.0525 150.01L62.8501 140.653L89.0671 152.349Z" fill="#FFB8B8"/>
<path id="Vector_12" d="M81.2502 162.941L87.8217 150.125L96.0751 153.807L85.8579 173.733L85.2268 173.451C83.2052 172.549 81.6506 170.935 80.9048 168.964C80.159 166.993 80.2833 164.826 81.2502 162.941V162.941Z" fill="black"/>
<path id="Vector_13" d="M95.6118 208.968L88.0819 208.73L87.7646 181.389L96.592 181.875L95.6118 208.968Z" fill="#FFB8B8"/>
<path id="Vector_14" d="M82.0764 206.532L97.298 207.012L96.9894 215.541L73.3234 214.795L73.347 214.143C73.4226 212.054 74.3847 210.079 76.0218 208.651C77.6589 207.224 79.8368 206.462 82.0764 206.532Z" fill="black"/>
<path id="Vector_15" d="M107.738 94.5421C107.738 94.5421 84.6921 89.0962 74.2445 97.1217L68.4062 112.886L45.0529 143.841L78.8537 162.759L84.9994 148.427L70.2499 141.548L88.0722 127.217L84.9994 202.886L96.676 204.606C96.676 204.606 122.488 111.166 107.738 94.5421Z" fill="#2847B5"/>
<path id="Vector_16" d="M72.774 99.4533L73.0549 98.9875C76.0159 94.0774 75.5361 86.0816 74.6123 80.2388C73.8385 75.3449 73.8618 66.7205 74.0175 60.347C74.056 58.1957 74.8785 56.1208 76.3497 54.4637C77.8209 52.8066 79.8531 51.6661 82.1118 51.2299C89.1227 49.8689 97.7297 49.5806 102.236 49.5297C103.461 49.5251 104.638 49.9684 105.516 50.7645C106.395 51.5605 106.903 52.6458 106.933 53.7876C107.07 60.651 107.028 73.1667 105.202 79.8817C102.492 89.848 106.729 96.6207 106.773 96.6878L107.028 97.0864L72.774 99.4533Z" fill="#1A147E"/>
<path id="Vector_17" d="M60.9192 126.939C61.6694 126.604 62.3317 126.12 62.8595 125.52C63.3873 124.92 63.7676 124.22 63.9738 123.468C64.18 122.717 64.207 121.932 64.0529 121.169C63.8988 120.407 63.5674 119.685 63.082 119.055L76.0882 66.7395H66.2552L54.7765 118.024C53.6959 118.855 52.9795 120.027 52.7632 121.317C52.5468 122.608 52.8456 123.928 53.6027 125.027C54.3599 126.126 55.5229 126.927 56.8714 127.28C58.2198 127.632 59.6601 127.511 60.9192 126.939Z" fill="#FFB8B8"/>
<path id="Vector_18" d="M140.003 75.4424L118.297 56.2907L112.431 63.9514L127.097 75.9896L107.864 90.2363C107.725 90.2276 107.586 90.2166 107.445 90.2166C106.261 90.2155 105.102 90.5326 104.107 91.1297C103.112 91.7269 102.322 92.5789 101.832 93.5838C101.342 94.5888 101.173 95.7041 101.344 96.7964C101.516 97.8887 102.022 98.9116 102.801 99.7429C103.58 100.574 104.599 101.179 105.736 101.484C106.873 101.789 108.081 101.782 109.214 101.464C110.348 101.146 111.359 100.529 112.126 99.6893C112.894 98.8492 113.386 97.8205 113.544 96.7263L113.604 96.7829L140.003 75.4424Z" fill="#FFB8B8"/>
<path id="Vector_19" d="M80.7312 51.9023C80.7312 51.9023 67.1771 49.8286 65.9479 59.5738C64.7188 69.3191 64.1042 69.3191 64.1042 69.3191C64.1042 69.3191 73.9372 67.5993 76.3955 69.8923C78.8537 72.1853 80.7312 51.9023 80.7312 51.9023Z" fill="#1A147E"/>
<path id="Vector_20" d="M100.978 50.4019C100.978 50.4019 112.04 48.6821 116.957 53.2681C121.873 57.8541 124.331 59.0006 124.331 59.0006C124.331 59.0006 113.269 64.7331 117.571 69.8923C117.571 69.8923 105.894 64.7331 104.051 66.4529C102.207 68.1726 100.978 50.4019 100.978 50.4019Z" fill="#1A147E"/>
<path id="Vector_21" d="M318.405 215.471C318.405 215.612 318.36 215.746 318.281 215.845C318.201 215.944 318.094 216 317.982 216.001H15.7476C15.6353 216.001 15.5277 215.945 15.4483 215.846C15.3689 215.747 15.3243 215.612 15.3243 215.471C15.3243 215.331 15.3689 215.196 15.4483 215.097C15.5277 214.998 15.6353 214.942 15.7476 214.942H317.982C318.094 214.942 318.201 214.998 318.281 215.098C318.36 215.197 318.405 215.331 318.405 215.471V215.471Z" fill="#3F3D56"/>
</g>
<g id="head">
<path id="Vector_22" d="M91.2754 17.1204C87.786 14.5209 86.8692 9.50407 88.8937 5.7913C90.9182 2.07853 95.4955 -0.158301 99.9575 0.00874536C104.42 0.175791 108.624 2.56533 111.209 5.96191C114.84 10.7332 115.602 17.3646 120.431 21.1C124.792 24.4738 131.04 24.3771 136.698 24.1087C138.606 24.0183 140.575 23.9134 142.286 23.1229C143.998 22.3324 145.396 20.6651 145.176 18.8956C146.597 20.9946 145.772 23.9377 143.865 25.6696C141.958 27.4016 139.242 28.1272 136.599 28.4161C131.935 28.8734 127.223 28.1895 122.929 26.432C118.634 24.6744 114.905 21.9037 112.107 18.3927C110.139 15.8593 108.619 12.9091 105.918 11.0543C103.216 9.19937 98.7113 9.07025 97.0528 11.7901C96.2325 13.1354 96.313 14.8228 95.5587 16.2012C94.8043 17.5796 92.3547 18.3228 91.6284 16.9314" fill="#2F2E41"/>
<path id="Vector_23" d="M90.742 44.7649C100.146 44.7649 107.769 37.6541 107.769 28.8825C107.769 20.1109 100.146 13.0001 90.742 13.0001C81.3382 13.0001 73.715 20.1109 73.715 28.8825C73.715 37.6541 81.3382 44.7649 90.742 44.7649Z" fill="#2F2E41"/>
<path id="Vector_24" d="M90.6392 46.0082C98.3381 46.0082 104.579 40.1866 104.579 33.0053C104.579 25.8239 98.3381 20.0023 90.6392 20.0023C82.9404 20.0023 76.6992 25.8239 76.6992 33.0053C76.6992 40.1866 82.9404 46.0082 90.6392 46.0082Z" fill="#FFB8B8"/>
<path id="Vector_25" d="M77.9286 23.4554C79.8231 23.8419 79.2031 26.8064 80.7002 27.9563C82.0507 28.9935 83.9955 27.9268 85.6951 27.5406C87.841 27.0531 90.087 27.7673 92.0682 28.6778C94.0494 29.5883 95.9597 30.7183 98.121 31.1425C100.282 31.5667 102.845 31.0886 104.056 29.3661C105.215 27.7191 104.788 25.4981 103.882 23.7189C102.755 21.5068 100.986 19.6332 98.7766 18.3105C96.5669 16.9877 94.0041 16.2686 91.3787 16.2347C88.7532 16.2008 86.1701 16.8533 83.9219 18.1184C81.6736 19.3836 79.8501 21.2107 78.658 23.3929" fill="#2F2E41"/>
</g>
</g>
<defs>
<filter id="filter0_d" x="112.231" y="78.3524" width="175.617" height="141.256" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
<feOffset dy="4"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
</filter>
<linearGradient id="paint0_linear" x1="206.997" y1="53.3339" x2="168.537" y2="139.595" gradientUnits="userSpaceOnUse">
<stop stop-color="#3A72DE"/>
<stop offset="1" stop-color="#CCCCCC" stop-opacity="0"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="232.662" y1="29.2591" x2="232.662" y2="109.689" gradientUnits="userSpaceOnUse">
<stop stop-color="#4C20AA"/>
<stop offset="1" stop-color="#6663FF"/>
</linearGradient>
<clipPath id="clip0">
<rect width="541" height="316" fill="white"/>
</clipPath>
</defs>
			</svg>
			<div class="col">
   				<h3><i>File Sharing Capability</i></h3><br>
   				<p class="paragraph">
            		Since we realize that you need files on the go and an uncompressed 
            		version is always great as it retains its originality and essence 
            		of being the real deal. Also no more decompressing required.
          		</p><br><br><br><br>
          	</div>
   		</div>
   		<div class="file-security columns">
   			<div class="col">
   				<h3><i>High Data security</i></h3><br>
   				<p class="paragraph2">
   					We realize how valuable your personal information is and that’s
   					why we keep evolving and nitrating new security measures on our
   					websites so as to provide you a stress-free experience.
   				</p>
   			</div>
   			<svg width="320" height="238" viewBox="0 0 520 438" fill="none" xmlns="http://www.w3.org/2000/svg" class="lockfile col">
<g id="undraw_secure_data_0rwp 1">
<g id="File">
<g id="Group" opacity="0.5">
<path id="Vector" opacity="0.5" d="M358.275 49.2674H92.2604V410.371H358.275V49.2674Z" fill="url(#paint0_linear)"/>
</g>
<path id="Vector_2" d="M353.427 54.165H95.7266V402.67H353.427V54.165Z" fill="#747373"/>
<path id="Vector_3" d="M204.485 68.8634H115.815V71.6612H204.485V68.8634Z" fill="#322E2E"/>
<path id="Vector_4" opacity="0.7" d="M204.485 81.4563H115.815V84.2541H204.485V81.4563Z" fill="#16146C"/>
<path id="Vector_5" d="M306.317 68.8634H217.647V71.6612H306.317V68.8634Z" fill="#E0E0E0"/>
<path id="Vector_6" d="M320.17 148.643H231.501V151.441H320.17V148.643Z" fill="#E0E0E0"/>
<path id="Vector_7" d="M322.249 156.339H233.579V159.136H322.249V156.339Z" fill="#E0E0E0"/>
<path id="Vector_8" d="M326.406 164.034H237.736V166.832H326.406V164.034Z" fill="#E0E0E0"/>
<path id="Vector_9" d="M320.17 272.507H231.501V275.305H320.17V272.507Z" fill="#E0E0E0"/>
<path id="Vector_10" d="M322.249 280.208H233.579V283.006H322.249V280.208Z" fill="#E0E0E0"/>
<path id="Vector_11" d="M326.406 287.903H237.736V290.701H326.406V287.903Z" fill="#E0E0E0"/>
<g id="Group_2" opacity="0.5">
<path id="Vector_12" opacity="0.5" d="M210.721 119.95H116.506V216.523H210.721V119.95Z" fill="url(#paint1_linear)"/>
</g>
<path id="Vector_13" d="M209.826 122.05H117.101V214.423H209.826V122.05Z" fill="#332F2F"/>
<g id="Group_3" opacity="0.5">
<path id="Vector_14" opacity="0.5" d="M206.853 127.646H120.369V187.83H206.853V127.646Z" fill="url(#paint2_linear)"/>
</g>
<path id="&#60;Rectangle&#62;" d="M206.258 50.344H120.964V186.428H206.258V50.344Z" fill="white"/>
<g id="Group_4">
<path id="Vector_15" opacity="0.4" d="M113.737 184.334L135.213 150.737L144.219 165.436L163.611 145.142L180.239 165.436L194.789 135.347L232.197 195.531L110.967 191.331L113.737 184.334Z" fill="url(#paint3_linear)"/>
<path id="Vector_16" opacity="0.4" d="M130.36 143.042C133.803 143.042 136.595 140.222 136.595 136.743C136.595 133.264 133.803 130.443 130.36 130.443C126.916 130.443 124.124 133.264 124.124 136.743C124.124 140.222 126.916 143.042 130.36 143.042Z" fill="url(#paint4_linear)"/>
</g>
<g id="Group_5" opacity="0.5">
<path id="Vector_17" opacity="0.5" d="M210.721 243.814H116.506V340.386H210.721V243.814Z" fill="url(#paint5_linear)"/>
</g>
<path id="Vector_18" d="M209.826 245.914H117.101V338.287H209.826V245.914Z" fill="#F5F5F5"/>
<g id="Group_6" opacity="0.5">
<path id="Vector_19" opacity="0.5" d="M206.853 251.515H120.369V311.699H206.853V251.515Z" fill="url(#paint6_linear)"/>
</g>
<path id="&#60;Rectangle&#62;_2" d="M206.258 252.213H120.964V310.297H206.258V252.213Z" fill="white"/>
<g id="Group_7">
<path id="Vector_20" opacity="0.4" d="M113.737 308.197L135.213 274.607L144.219 289.305L163.611 269.011L180.239 289.305L194.789 259.21L232.197 319.394L110.967 315.195L113.737 308.197Z" fill="#BDBDBD"/>
<path id="Vector_21" opacity="0.4" d="M130.36 266.911C133.803 266.911 136.595 264.091 136.595 260.612C136.595 257.133 133.803 254.313 130.36 254.313C126.916 254.313 124.124 257.133 124.124 260.612C124.124 264.091 126.916 266.911 130.36 266.911Z" fill="#BDBDBD"/>
</g>
<g id="Group_8" opacity="0.5">
<path id="Vector_22" opacity="0.5" d="M200.992 31.425L131.317 385.602L392.23 437.983L461.904 83.8057L200.992 31.425Z" fill="url(#paint7_linear)"/>
</g>
<path id="Vector_23" d="M203.439 36.9123L136.196 378.733L388.953 429.476L456.197 87.6559L203.439 36.9123Z" fill="#2F2C2C"/>
<path id="Vector_24" d="M398.081 92.3893L218.705 56.3777L218.165 59.1218L397.541 95.1334L398.081 92.3893Z" fill="#E0E0E0"/>
<path id="Vector_25" d="M347.039 351.852L167.663 315.841L167.123 318.585L346.499 354.597L347.039 351.852Z" fill="#E0E0E0"/>
<path id="Vector_26" d="M303.166 359.457L164.557 331.63L164.018 334.374L302.626 362.201L303.166 359.457Z" fill="#E0E0E0"/>
<path id="Vector_27" opacity="0.7" d="M213.095 357.781L161.455 347.414L160.916 350.158L212.555 360.525L213.095 357.781Z" fill="#6663FF"/>
<path id="Vector_28" opacity="0.7" d="M305.289 90.1778L215.603 72.1726L215.063 74.9167L304.749 92.9219L305.289 90.1778Z" fill="#6663FF"/>
<path id="Vector_29" d="M374.21 120.421L212.498 87.9561L211.958 90.7002L373.67 123.165L374.21 120.421Z" fill="#E0E0E0"/>
<path id="Vector_30" opacity="0.7" d="M248.801 111.656L209.394 103.745L208.854 106.489L248.262 114.4L248.801 111.656Z" fill="#3AD29F"/>
<path id="Vector_31" d="M385.659 155.541L206.283 119.529L205.743 122.273L385.12 158.285L385.659 155.541Z" fill="#E0E0E0"/>
<g id="Group_9" opacity="0.5">
<path id="Vector_32" opacity="0.5" d="M222.096 186.21L203.731 279.561L364.759 311.889L383.124 218.538L222.096 186.21Z" fill="url(#paint8_linear)"/>
</g>
<path id="Vector_33" d="M382.004 219.024L223.009 187.104L205.05 278.396L364.045 310.315L382.004 219.024Z" fill="#1C1B1B"/>
<path id="Vector_34" d="M382.554 171.328L203.178 135.316L202.638 138.06L382.014 174.072L382.554 171.328Z" fill="#E0E0E0"/>
<path id="Vector_35" d="M256.931 206.756L237.228 202.8L224.13 269.377L243.834 273.333L256.931 206.756Z" fill="#6663FF"/>
<path id="Vector_36" d="M287.941 235.818L268.238 231.862L259.461 276.475L279.165 280.431L287.941 235.818Z" fill="#3AD29F"/>
<path id="Vector_37" d="M319.222 263.496L299.519 259.54L294.793 283.564L314.496 287.52L319.222 263.496Z" fill="#F55F44"/>
<path id="Vector_38" d="M359.414 245.883L339.71 241.927L330.124 290.659L349.827 294.615L359.414 245.883Z" fill="#FDD835"/>
</g>
<g id="glitter">
<path id="Vector_39" opacity="0.5" d="M316.319 4.76596C315.747 4.51401 315.286 4.05815 315.025 3.48522C314.764 2.91229 314.72 2.26234 314.903 1.65921C314.933 1.56644 314.952 1.47042 314.96 1.37314C314.969 1.1032 314.894 0.837174 314.745 0.612723C314.596 0.388271 314.382 0.216763 314.131 0.12248C313.88 0.0281973 313.607 0.0159152 313.349 0.0873716C313.091 0.158828 312.862 0.310404 312.694 0.52064C312.638 0.598661 312.59 0.683156 312.553 0.772386C312.303 1.35062 311.852 1.81596 311.285 2.07974C310.718 2.34352 310.074 2.3873 309.477 2.20275C309.386 2.17245 309.291 2.15324 309.194 2.14554C308.927 2.13624 308.664 2.21208 308.441 2.36233C308.219 2.51258 308.05 2.72962 307.956 2.98273C307.863 3.23584 307.851 3.51219 307.921 3.77267C307.992 4.03314 308.142 4.26455 308.35 4.43412C308.428 4.49149 308.511 4.5395 308.6 4.57715C309.172 4.8291 309.633 5.28496 309.894 5.85789C310.155 6.43082 310.198 7.08077 310.015 7.6839C309.985 7.77667 309.966 7.87269 309.959 7.96997C309.95 8.23991 310.025 8.50594 310.173 8.73039C310.322 8.95484 310.537 9.12635 310.788 9.22063C311.038 9.31491 311.312 9.32719 311.569 9.25574C311.827 9.18428 312.056 9.03271 312.224 8.82247C312.281 8.74445 312.329 8.65995 312.366 8.57072C312.615 7.99249 313.066 7.52715 313.634 7.26337C314.201 6.99959 314.844 6.95581 315.441 7.14036C315.533 7.17066 315.628 7.18986 315.724 7.19757C315.992 7.20687 316.255 7.13103 316.477 6.98078C316.699 6.83053 316.869 6.61349 316.962 6.36038C317.056 6.10727 317.068 5.83092 316.997 5.57044C316.926 5.30997 316.776 5.07856 316.568 4.90899C316.491 4.85161 316.407 4.80361 316.319 4.76596Z" fill="#4D8AF0"/>
<path id="Vector_40" opacity="0.5" d="M82.3491 64.1775C81.7767 63.9256 81.3161 63.4697 81.055 62.8968C80.7938 62.3238 80.7505 61.6739 80.9332 61.0708C80.9632 60.978 80.9822 60.882 80.9898 60.7847C80.999 60.5148 80.924 60.2487 80.7752 60.0243C80.6265 59.7998 80.4116 59.6283 80.1611 59.534C79.9105 59.4398 79.637 59.4275 79.3791 59.4989C79.1213 59.5704 78.8922 59.722 78.7244 59.9322C78.6676 60.0102 78.62 60.0947 78.5828 60.1839C78.3334 60.7622 77.8821 61.2275 77.315 61.4913C76.7479 61.7551 76.1045 61.7989 75.5074 61.6143C75.4156 61.584 75.3205 61.5648 75.2242 61.5571C74.957 61.5478 74.6937 61.6236 74.4715 61.7739C74.2493 61.9241 74.0796 62.1412 73.9862 62.3943C73.8929 62.6474 73.8807 62.9238 73.9515 63.1842C74.0222 63.4447 74.1723 63.6761 74.3804 63.8457C74.4576 63.9031 74.5412 63.9511 74.6296 63.9887C75.202 64.2407 75.6626 64.6965 75.9237 65.2695C76.1848 65.8424 76.2282 66.4923 76.0455 67.0955C76.0155 67.1882 75.9965 67.2842 75.9888 67.3815C75.9796 67.6515 76.0547 67.9175 76.2034 68.1419C76.3522 68.3664 76.567 68.5379 76.8176 68.6322C77.0681 68.7265 77.3417 68.7388 77.5995 68.6673C77.8574 68.5958 78.0864 68.4443 78.2543 68.234C78.3111 68.156 78.3586 68.0715 78.3959 67.9823C78.6453 67.4041 79.0965 66.9387 79.6637 66.6749C80.2308 66.4112 80.8742 66.3674 81.4712 66.5519C81.5631 66.5822 81.6581 66.6014 81.7544 66.6091C82.0216 66.6184 82.285 66.5426 82.5071 66.3923C82.7293 66.2421 82.8991 66.025 82.9924 65.7719C83.0858 65.5188 83.0979 65.2425 83.0272 64.982C82.9565 64.7215 82.8064 64.4901 82.5983 64.3206C82.5211 64.2632 82.4374 64.2152 82.3491 64.1775Z" fill="#FDD835"/>
<path id="Vector_41" opacity="0.5" d="M63.8291 238.716C63.2567 238.464 62.796 238.008 62.5349 237.435C62.2738 236.862 62.2305 236.213 62.4132 235.609C62.4432 235.517 62.4622 235.421 62.4698 235.323C62.479 235.053 62.4039 234.787 62.2552 234.563C62.1065 234.338 61.8916 234.167 61.6411 234.073C61.3905 233.978 61.1169 233.966 60.8591 234.038C60.6013 234.109 60.3722 234.261 60.2043 234.471C60.1475 234.549 60.1 234.633 60.0627 234.723C59.8134 235.301 59.3621 235.766 58.795 236.03C58.2278 236.294 57.5844 236.337 56.9874 236.153C56.8956 236.123 56.8005 236.103 56.7042 236.096C56.437 236.086 56.1737 236.162 55.9515 236.312C55.7293 236.463 55.5595 236.68 55.4662 236.933C55.3729 237.186 55.3607 237.462 55.4315 237.723C55.5022 237.983 55.6522 238.215 55.8603 238.384C55.9376 238.442 56.0212 238.49 56.1095 238.527C56.6819 238.779 57.1426 239.235 57.4037 239.808C57.6648 240.381 57.7081 241.031 57.5254 241.634C57.4955 241.727 57.4764 241.823 57.4688 241.92C57.4596 242.19 57.5347 242.456 57.6834 242.681C57.8321 242.905 58.047 243.077 58.2975 243.171C58.5481 243.265 58.8217 243.277 59.0795 243.206C59.3373 243.134 59.5664 242.983 59.7343 242.773C59.7911 242.695 59.8386 242.61 59.8758 242.521C60.1252 241.943 60.5765 241.477 61.1436 241.214C61.7108 240.95 62.3542 240.906 62.9512 241.091C63.043 241.121 63.1381 241.14 63.2344 241.148C63.5016 241.157 63.7649 241.081 63.9871 240.931C64.2093 240.781 64.3791 240.564 64.4724 240.311C64.5657 240.057 64.5779 239.781 64.5072 239.521C64.4364 239.26 64.2864 239.029 64.0783 238.859C64.001 238.802 63.9174 238.754 63.8291 238.716Z" fill="#FDD835"/>
<path id="Vector_42" opacity="0.5" d="M191.323 20.5743C193.619 20.5743 195.48 18.6941 195.48 16.3748C195.48 14.0554 193.619 12.1752 191.323 12.1752C189.027 12.1752 187.166 14.0554 187.166 16.3748C187.166 18.6941 189.027 20.5743 191.323 20.5743Z" fill="#F55F44"/>
<path id="Vector_43" opacity="0.5" d="M4.1571 185.833C6.453 185.833 8.3142 183.953 8.3142 181.633C8.3142 179.314 6.453 177.434 4.1571 177.434C1.8612 177.434 0 179.314 0 181.633C0 183.953 1.8612 185.833 4.1571 185.833Z" fill="#F55F44"/>
<path id="Vector_44" opacity="0.5" d="M489.201 73.0629C491.497 73.0629 493.358 71.1827 493.358 68.8634C493.358 66.544 491.497 64.6638 489.201 64.6638C486.905 64.6638 485.044 66.544 485.044 68.8634C485.044 71.1827 486.905 73.0629 489.201 73.0629Z" fill="#F55F44"/>
<path id="Vector_45" opacity="0.5" d="M465.646 198.328C467.942 198.328 469.803 196.448 469.803 194.129C469.803 191.81 467.942 189.929 465.646 189.929C463.35 189.929 461.489 191.81 461.489 194.129C461.489 196.448 463.35 198.328 465.646 198.328Z" fill="#4D8AF0"/>
<path id="Vector_46" opacity="0.5" d="M21.3405 87.2865C23.6364 87.2865 25.4976 85.4063 25.4976 83.0869C25.4976 80.7676 23.6364 78.8874 21.3405 78.8874C19.0446 78.8874 17.1834 80.7676 17.1834 83.0869C17.1834 85.4063 19.0446 87.2865 21.3405 87.2865Z" fill="#47E6B1"/>
<path id="Vector_47" opacity="0.5" d="M483.271 374.572C485.567 374.572 487.428 372.692 487.428 370.372C487.428 368.053 485.567 366.173 483.271 366.173C480.975 366.173 479.114 368.053 479.114 370.372C479.114 372.692 480.975 374.572 483.271 374.572Z" fill="#47E6B1"/>
<path id="Vector_48" opacity="0.5" d="M515.843 250.777C518.139 250.777 520 248.897 520 246.577C520 244.258 518.139 242.378 515.843 242.378C513.547 242.378 511.686 244.258 511.686 246.577C511.686 248.897 513.547 250.777 515.843 250.777Z" fill="#47E6B1"/>
</g>
<g id="Lockopen">
<path id="lock open" d="M375.303 327.351C375.303 319.404 378.428 311.783 383.99 306.164C389.553 300.544 397.097 297.388 404.963 297.388C412.83 297.388 420.374 300.544 425.936 306.164C431.499 311.783 434.624 319.404 434.624 327.351V346.529H442.927V327.351C442.927 317.18 438.927 307.425 431.807 300.233C424.688 293.041 415.032 289 404.963 289C394.895 289 385.239 293.041 378.119 300.233C371 307.425 367 317.18 367 327.351V346.529H375.303V327.351Z" fill="#171616"/>
</g>
<g id="lock">
<path id="Vector_49" d="M456.214 344.333H353V429.429H456.214V344.333Z" fill="url(#paint9_linear)"/>
<path id="Vector_50" d="M456.214 361.109H353V412.642H456.214V361.109Z" fill="url(#paint10_linear)"/>
<g id="Vector_51" style="mix-blend-mode:hard-light">
<path d="M411.049 378.6C411.05 377.523 410.791 376.463 410.293 375.512C409.796 374.56 409.075 373.746 408.194 373.141C407.313 372.536 406.299 372.158 405.24 372.04C404.181 371.922 403.11 372.067 402.12 372.464C401.13 372.861 400.25 373.496 399.559 374.315C398.868 375.134 398.386 376.112 398.155 377.162C397.924 378.213 397.951 379.304 398.234 380.342C398.517 381.379 399.047 382.331 399.778 383.114V397.177C399.778 398.449 400.278 399.668 401.168 400.567C402.059 401.467 403.266 401.972 404.524 401.972C405.783 401.972 406.99 401.467 407.88 400.567C408.771 399.668 409.271 398.449 409.271 397.177V383.114C410.413 381.894 411.05 380.279 411.049 378.6Z" fill="#202124"/>
</g>
</g>
</g>
<defs>
<linearGradient id="paint0_linear" x1="225.265" y1="410.371" x2="225.265" y2="49.2674" gradientUnits="userSpaceOnUse">
<stop stop-color="#808080" stop-opacity="0.25"/>
<stop offset="0.54" stop-color="#808080" stop-opacity="0.12"/>
<stop offset="1" stop-color="#808080" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="27333.2" y1="36666.8" x2="27333.2" y2="20366.3" gradientUnits="userSpaceOnUse">
<stop stop-color="#808080" stop-opacity="0.25"/>
<stop offset="0.54" stop-color="#808080" stop-opacity="0.12"/>
<stop offset="1" stop-color="#808080" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="25103.7" y1="19885.4" x2="25103.7" y2="13554.7" gradientUnits="userSpaceOnUse">
<stop stop-color="#808080" stop-opacity="0.25"/>
<stop offset="0.54" stop-color="#808080" stop-opacity="0.12"/>
<stop offset="1" stop-color="#808080" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint3_linear" x1="171.582" y1="135.347" x2="171.582" y2="195.531" gradientUnits="userSpaceOnUse">
<stop stop-color="#6DDC29"/>
<stop offset="0.947917" stop-color="#6663FF"/>
</linearGradient>
<linearGradient id="paint4_linear" x1="130.36" y1="130.443" x2="130.36" y2="143.042" gradientUnits="userSpaceOnUse">
<stop stop-color="#6DDC29"/>
<stop offset="0.947917" stop-color="#6663FF"/>
</linearGradient>
<linearGradient id="paint5_linear" x1="27333.2" y1="57698.6" x2="27333.2" y2="41397.2" gradientUnits="userSpaceOnUse">
<stop stop-color="#808080" stop-opacity="0.25"/>
<stop offset="0.54" stop-color="#808080" stop-opacity="0.12"/>
<stop offset="1" stop-color="#808080" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint6_linear" x1="25103.7" y1="33039.1" x2="25103.7" y2="26708.4" gradientUnits="userSpaceOnUse">
<stop stop-color="#808080" stop-opacity="0.25"/>
<stop offset="0.54" stop-color="#808080" stop-opacity="0.12"/>
<stop offset="1" stop-color="#808080" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint7_linear" x1="196166" y1="247762" x2="229537" y2="81538.1" gradientUnits="userSpaceOnUse">
<stop stop-color="#808080" stop-opacity="0.25"/>
<stop offset="0.54" stop-color="#808080" stop-opacity="0.12"/>
<stop offset="1" stop-color="#808080" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint8_linear" x1="44537.8" y1="102683" x2="49966.2" y2="75643.3" gradientUnits="userSpaceOnUse">
<stop stop-color="#808080" stop-opacity="0.25"/>
<stop offset="0.54" stop-color="#808080" stop-opacity="0.12"/>
<stop offset="1" stop-color="#808080" stop-opacity="0.1"/>
</linearGradient>
<linearGradient id="paint9_linear" x1="444" y1="382" x2="353" y2="446" gradientUnits="userSpaceOnUse">
<stop stop-color="#5B28CA"/>
<stop offset="1" stop-color="#24A4AC"/>
</linearGradient>
<linearGradient id="paint10_linear" x1="478" y1="351" x2="375" y2="413" gradientUnits="userSpaceOnUse">
<stop stop-color="#63E3FF"/>
<stop offset="1" stop-color="#362DCA" stop-opacity="0.7"/>
</linearGradient>
</defs>
</svg>	
   		</div><br><br>
      <div class="UI columns">
        <svg class="col" width="262" height="219" viewBox="0 0 262 219" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="undraw_data_extraction_ih3n 1" style="mix-blend-mode:multiply">
          <g id="circles">
          <path id="Vector" d="M130.532 215.415C75.0981 215.415 30 168.448 30 110.719C30 52.9902 75.0981 6.02409 130.532 6.02409C185.965 6.02409 231.063 52.9902 231.063 110.719C231.063 168.448 185.965 215.415 130.532 215.415ZM130.532 7.03563C75.6341 7.03563 30.9713 53.5478 30.9713 110.719C30.9713 167.891 75.6341 214.403 130.532 214.403C185.429 214.403 230.092 167.891 230.092 110.719C230.092 53.5478 185.429 7.03563 130.532 7.03563Z" fill="#343030"/>
          <path id="Vector_2" d="M130.532 186.08C90.6303 186.08 58.1683 152.273 58.1683 110.719C58.1683 69.1655 90.6303 35.359 130.532 35.359C170.433 35.359 202.895 69.1655 202.895 110.719C202.895 152.273 170.433 186.08 130.532 186.08ZM130.532 36.3705C91.1662 36.3705 59.1396 69.7232 59.1396 110.719C59.1396 151.715 91.1662 185.068 130.532 185.068C169.897 185.068 201.924 151.715 201.924 110.719C201.924 69.7232 169.897 36.3705 130.532 36.3705Z" fill="#343030"/>
          <path id="Vector_3" d="M130.532 156.412C121.854 156.412 113.371 153.732 106.156 148.711C98.9407 143.69 93.3171 136.554 89.9963 128.205C86.6755 119.856 85.8066 110.669 87.4996 101.805C89.1925 92.9418 93.3713 84.8002 99.5073 78.41C105.643 72.0198 113.461 67.668 121.972 65.905C130.483 64.1419 139.305 65.0468 147.322 68.5051C155.339 71.9634 162.192 77.8199 167.013 85.334C171.834 92.848 174.407 101.682 174.407 110.719C174.394 122.833 169.767 134.448 161.542 143.014C153.316 151.58 142.164 156.398 130.532 156.412ZM130.532 66.0386C122.046 66.0386 113.751 68.6591 106.696 73.5687C99.6401 78.4783 94.141 85.4565 90.8937 93.6209C87.6464 101.785 86.7968 110.769 88.4523 119.436C90.1077 128.104 94.194 136.065 100.194 142.314C106.194 148.562 113.839 152.818 122.162 154.542C130.484 156.266 139.111 155.381 146.951 151.999C154.79 148.617 161.491 142.89 166.205 135.543C170.92 128.195 173.436 119.556 173.436 110.719C173.423 98.8733 168.899 87.5163 160.855 79.14C152.812 70.7636 141.907 66.0519 130.532 66.0386Z" fill="#343030"/>
          </g>
          <g id="Blue-Bubbles">
          <path id="Vector_4" d="M146.47 14.7132C150.372 14.7132 153.534 11.4195 153.534 7.35659C153.534 3.29366 150.372 0 146.47 0C142.569 0 139.406 3.29366 139.406 7.35659C139.406 11.4195 142.569 14.7132 146.47 14.7132Z" fill="#60656A"/>
          <path id="Vector_5" d="M198.092 135.814C201.993 135.814 205.156 132.52 205.156 128.457C205.156 124.394 201.993 121.101 198.092 121.101C194.191 121.101 191.028 124.394 191.028 128.457C191.028 132.52 194.191 135.814 198.092 135.814Z" fill="#05FFF0"/>
          <path id="Vector_6" d="M43.2265 65.6434C47.1279 65.6434 50.2905 62.3497 50.2905 58.2868C50.2905 54.2239 47.1279 50.9302 43.2265 50.9302C39.3251 50.9302 36.1624 54.2239 36.1624 58.2868C36.1624 62.3497 39.3251 65.6434 43.2265 65.6434Z" fill="#075FC7"/>
          <path id="Vector_7" d="M156.795 219C160.696 219 163.859 215.706 163.859 211.643C163.859 207.58 160.696 204.287 156.795 204.287C152.893 204.287 149.73 207.58 149.73 211.643C149.73 215.706 152.893 219 156.795 219Z" fill="#2288FF"/>
          <path id="Vector_8" d="M57.8979 189.574C61.7993 189.574 64.962 186.28 64.962 182.217C64.962 178.154 61.7993 174.86 57.8979 174.86C53.9966 174.86 50.8339 178.154 50.8339 182.217C50.8339 186.28 53.9966 189.574 57.8979 189.574Z" fill="url(#paint0_linear)"/>
          </g>
          <g id="Black-Bubbles">
          <path id="Vector_9" d="M130.532 133.921C142.836 133.921 152.811 123.533 152.811 110.719C152.811 97.9055 142.836 87.5178 130.532 87.5178C118.227 87.5178 108.253 97.9055 108.253 110.719C108.253 123.533 118.227 133.921 130.532 133.921Z" fill="#FE9E0E"/>
          <path id="Vector_10" d="M58.8693 126.352C62.7706 126.352 65.9333 123.058 65.9333 118.995C65.9333 114.932 62.7706 111.639 58.8693 111.639C54.9679 111.639 51.8052 114.932 51.8052 118.995C51.8052 123.058 54.9679 126.352 58.8693 126.352Z" fill="#3FC80F"/>
          <path id="Vector_11" d="M218.652 168.331C222.553 168.331 225.716 165.037 225.716 160.975C225.716 156.912 222.553 153.618 218.652 153.618C214.75 153.618 211.588 156.912 211.588 160.975C211.588 165.037 214.75 168.331 218.652 168.331Z" fill="#FF0000"/>
          <path id="Vector_12" d="M190.969 76.7861C194.87 76.7861 198.033 73.4925 198.033 69.4295C198.033 65.3666 194.87 62.073 190.969 62.073C187.068 62.073 183.905 65.3666 183.905 69.4295C183.905 73.4925 187.068 76.7861 190.969 76.7861Z" fill="#FB00C4"/>
          </g>
          </g>
          <defs>
          <linearGradient id="paint0_linear" x1="73" y1="182" x2="58" y2="190" gradientUnits="userSpaceOnUse">
          <stop stop-color="#5FA7FB" stop-opacity="0.9"/>
          <stop offset="1" stop-color="#4E1562"/>
          </linearGradient>
          </defs>
          </svg>
        <div class="col">
          <h3><i>Great User Interface</i></h3><br>
          <p class="paragraph3">
            Your experience while using the site matters to us and therefore
            we constantly work on providing you with an experience tailor 
            suited for you.
          </p>
        </div>        
      </div>
      <div class="contact">
        <br><br><br><h2><a id="contact">Contact Us:-</a></h2><br>
        <div class="iconcolumns">
          <a href="https://www.facebook.com/thread.rippers.5/">
            <svg class="facebook col" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64" width="50px" height="50px"><radialGradient id="nT5WH7nXAOiS46rXmee3Oa" cx="33.34" cy="27.936" r="43.888" gradientTransform="matrix(1 0 0 -1 0 66)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f4e9c3"/><stop offset=".219" stop-color="#f8eecd"/><stop offset=".644" stop-color="#fdf4dc"/><stop offset="1" stop-color="#fff6e1"/></radialGradient><path fill="url(#nT5WH7nXAOiS46rXmee3Oa)" d="M51.03,37.34c0.16,0.98,1.08,1.66,2.08,1.66h5.39c2.63,0,4.75,2.28,4.48,4.96	C62.74,46.3,60.64,48,58.29,48H49c-1.22,0-2.18,1.08-1.97,2.34c0.16,0.98,1.08,1.66,2.08,1.66h8.39c1.24,0,2.37,0.5,3.18,1.32	C61.5,54.13,62,55.26,62,56.5c0,2.49-2.01,4.5-4.5,4.5h-49c-1.52,0-2.9-0.62-3.89-1.61C3.62,58.4,3,57.02,3,55.5	C3,52.46,5.46,50,8.5,50H14c1.22,0,2.18-1.08,1.97-2.34C15.81,46.68,14.89,44,13.89,44H5.5c-2.63,0-4.75-2.28-4.48-4.96	C1.26,36.7,3.36,35,5.71,35H8c1.71,0,3.09-1.43,3-3.16C10.91,30.22,9.45,29,7.83,29H4.5c-2.63,0-4.75-2.28-4.48-4.96	C0.26,21.7,2.37,20,4.71,20H20c0.83,0,1.58-0.34,2.12-0.88C22.66,18.58,23,17.83,23,17c0-1.66-1.34-3-3-3h-1.18	c-0.62-0.09-1.43,0-2.32,0h-9c-1.52,0-2.9-0.62-3.89-1.61S2,10.02,2,8.5C2,5.46,4.46,3,7.5,3h49c3.21,0,5.8,2.79,5.47,6.06	C61.68,11.92,60.11,14,57.24,14H52c-2.76,0-5,2.24-5,5c0,1.38,0.56,2.63,1.46,3.54C49.37,23.44,50.62,24,52,24h6.5	c3.21,0,5.8,2.79,5.47,6.06C63.68,32.92,61.11,35,58.24,35H53C51.78,35,50.82,36.08,51.03,37.34z"/><linearGradient id="nT5WH7nXAOiS46rXmee3Ob" x1="32" x2="32" y1="-3.34" y2="59.223" gradientTransform="matrix(1 0 0 -1 0 66)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#155cde"/><stop offset=".278" stop-color="#1f7fe5"/><stop offset=".569" stop-color="#279ceb"/><stop offset=".82" stop-color="#2cafef"/><stop offset="1" stop-color="#2eb5f0"/></linearGradient><path fill="url(#nT5WH7nXAOiS46rXmee3Ob)" d="M58,32c0,13.35-10.05,24.34-23,25.83C34.02,57.94,33.01,58,32,58c-1.71,0-3.38-0.17-5-0.49	C15.03,55.19,6,44.65,6,32C6,17.64,17.64,6,32,6S58,17.64,58,32z"/><path fill="#fff" d="M42.8,36.05l-0.76,2C41.6,39.22,40.46,40,39.19,40H35v17.83C34.02,57.94,33.01,58,32,58	c-1.71,0-3.38-0.17-5-0.49V40h-2.95C22.36,40,21,38.66,21,37v-2c0-1.66,1.36-3,3.05-3H27v-6c0-5.51,4.49-10,10-10h3	c2.21,0,4,1.79,4,4s-1.79,4-4,4h-3c-1.1,0-2,0.9-2,2v6h4.95C42.08,32,43.55,34.09,42.8,36.05z"/></svg>
          </a>
          <a href="https://twitter.com/ping075">
            <svg class="twitter col" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64" width="50px" height="50px"><radialGradient id="xW1rhakWxHfCsuNDi~7SWa" cx="32" cy="33" r="29.606" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#c5f1ff"/><stop offset=".35" stop-color="#cdf3ff"/><stop offset=".907" stop-color="#e4faff"/><stop offset="1" stop-color="#e9fbff"/></radialGradient><path fill="url(#xW1rhakWxHfCsuNDi~7SWa)" d="M10.5,60h41c2.485,0,4.5-2.015,4.5-4.5v0c0-2.485-2.015-4.5-4.5-4.5h-0.393 c-0.996,0-1.92-0.681-2.08-1.664C48.824,48.083,49.785,47,51,47l5.288,0c2.347,0,4.453-1.704,4.689-4.039 C61.247,40.282,59.127,38,56.5,38l-3.393,0c-0.996,0-1.92-0.681-2.08-1.664C50.824,35.083,51.785,34,53,34l5.241,0 c2.868,0,5.442-2.082,5.731-4.936C64.303,25.789,61.711,23,58.5,23l-12.33,0c-1.624,0-3.081-1.216-3.166-2.839 C42.914,18.431,44.29,17,46,17l2.241,0c2.868,0,5.442-2.082,5.731-4.936C54.303,8.789,51.711,6,48.5,6l-38,0C7.462,6,5,8.462,5,11.5 v0c0,3.038,2.462,5.5,5.5,5.5H14c1.105,0,2,0.895,2,2v0c0,1.105-0.895,2-2,2l-9.288,0c-2.347,0-4.453,1.704-4.689,4.038 C-0.248,27.718,1.873,30,4.5,30l8.33,0c1.624,0,3.081,1.216,3.166,2.839C16.086,34.569,14.71,36,13,36H7.712 c-2.347,0-4.453,1.704-4.689,4.038C2.753,42.718,4.873,45,7.5,45h6.393c0.996,0,1.92,0.681,2.08,1.664 C16.176,47.917,15.215,49,14,49l-3.5,0C7.462,49,5,51.462,5,54.5v0C5,57.538,7.462,60,10.5,60z"/><linearGradient id="xW1rhakWxHfCsuNDi~7SWb" x1="32.5" x2="32.5" y1="64.102" y2="22.102" gradientUnits="userSpaceOnUse" spreadMethod="reflect"><stop offset="0" stop-color="#155cde"/><stop offset=".278" stop-color="#1f7fe5"/><stop offset=".569" stop-color="#279ceb"/><stop offset=".82" stop-color="#2cafef"/><stop offset="1" stop-color="#2eb5f0"/></linearGradient><path fill="url(#xW1rhakWxHfCsuNDi~7SWb)" d="M57.667,19.058c-1.44,0.493-2.997,0.771-4.636,0.956c1.617-0.805,2.735-1.99,3.78-3.441 c0.598-0.83-0.329-1.915-1.25-1.469c-1.638,0.793-3.22,1.382-5.213,1.721C48.399,15.073,45.829,14,43,14 c-4.11,0-7.69,2.25-9.57,5.58C32.52,21.18,32,23.03,32,25c0,0.677,0.082,1.332,0.199,1.975c-8.839-0.263-16.248-4.827-20.463-10.568 C11.268,15.77,10.29,15.906,10,16.641C9.553,17.772,9,19,9,21c0,0.12,0,0.23,0.01,0.34c0.04,1.3,0.33,2.54,0.83,3.66 c0.94,2.17,2.64,3.94,4.77,4.98C14.41,29.99,14.21,30,14,30c-2,0-2.658-0.685-3.743-0.967c-0.683-0.178-1.35,0.392-1.247,1.09 c0.328,2.221,1.484,4.559,3.029,6.047c1.66,1.62,3.88,2.66,6.35,2.81C17.07,39.63,15.58,40,14,40h-1c-0.756,0-1.227,0.8-0.886,1.474 c1.677,3.317,5.561,5.53,9.722,5.516C17.826,49.518,13.091,51,8,51H7c-0.552,0-1,0.448-1,1c0,0.458,0.314,0.828,0.734,0.946 l-0.002,0.017c0,0,7.53,3.037,16.268,3.037c16.93,0,30.69-13.57,30.99-30.43C54,25.38,54,25.19,54,25s0-0.38-0.01-0.57 c-0.014-0.275-0.048-0.545-0.082-0.815c1.851-0.589,3.499-1.558,4.811-2.926C59.442,19.936,58.655,18.72,57.667,19.058z"/></svg>
          </a>
          <a href="https://instagram.com/ping00_7?igshid=1ql6lec6eqzmf">
            <svg class="insta col" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 64 64" width="50px" height="50px"><radialGradient id="TGwjmZMm2W~B4yrgup6jda" cx="32" cy="32.5" r="31.259" gradientTransform="matrix(1 0 0 -1 0 64)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#efdcb1"/><stop offset="0" stop-color="#f2e0bb"/><stop offset=".011" stop-color="#f2e0bc"/><stop offset=".362" stop-color="#f9edd2"/><stop offset=".699" stop-color="#fef4df"/><stop offset="1" stop-color="#fff7e4"/></radialGradient><path fill="url(#TGwjmZMm2W~B4yrgup6jda)" d="M58,54c-1.1,0-2-0.9-2-2s0.9-2,2-2h2.5c1.9,0,3.5-1.6,3.5-3.5S62.4,43,60.5,43H50c-1.4,0-2.5-1.1-2.5-2.5	S48.6,38,50,38h8c1.7,0,3-1.3,3-3s-1.3-3-3-3H42v-6h18c2.3,0,4.2-2,4-4.4c-0.2-2.1-2.1-3.6-4.2-3.6H58c-1.1,0-2-0.9-2-2s0.9-2,2-2	h0.4c1.3,0,2.5-0.9,2.6-2.2c0.2-1.5-1-2.8-2.5-2.8h-14C43.7,9,43,8.3,43,7.5S43.7,6,44.5,6h3.9c1.3,0,2.5-0.9,2.6-2.2	C51.1,2.3,50,1,48.5,1H15.6c-1.3,0-2.5,0.9-2.6,2.2C12.9,4.7,14,6,15.5,6H19c1.1,0,2,0.9,2,2s-0.9,2-2,2H6.2c-2.1,0-4,1.5-4.2,3.6	C1.8,16,3.7,18,6,18h2.5c1.9,0,3.5,1.6,3.5,3.5S10.4,25,8.5,25H5.2c-2.1,0-4,1.5-4.2,3.6C0.8,31,2.7,33,5,33h17v11H6	c-1.7,0-3,1.3-3,3s1.3,3,3,3l0,0c1.1,0,2,0.9,2,2s-0.9,2-2,2H4.2c-2.1,0-4,1.5-4.2,3.6C-0.2,60,1.7,62,4,62h53.8	c2.1,0,4-1.5,4.2-3.6C62.2,56,60.3,54,58,54z"/><radialGradient id="TGwjmZMm2W~B4yrgup6jdb" cx="18.51" cy="66.293" r="69.648" gradientTransform="matrix(.6435 -.7654 .5056 .4251 -26.92 52.282)" gradientUnits="userSpaceOnUse"><stop offset=".073" stop-color="#eacc7b"/><stop offset=".184" stop-color="#ecaa59"/><stop offset=".307" stop-color="#ef802e"/><stop offset=".358" stop-color="#ef6d3a"/><stop offset=".46" stop-color="#f04b50"/><stop offset=".516" stop-color="#f03e58"/><stop offset=".689" stop-color="#db359e"/><stop offset=".724" stop-color="#ce37a4"/><stop offset=".789" stop-color="#ac3cb4"/><stop offset=".877" stop-color="#7544cf"/><stop offset=".98" stop-color="#2b4ff2"/></radialGradient><path fill="url(#TGwjmZMm2W~B4yrgup6jdb)" d="M45,57H19c-5.5,0-10-4.5-10-10V21c0-5.5,4.5-10,10-10h26c5.5,0,10,4.5,10,10v26C55,52.5,50.5,57,45,57z"/><path fill="#fff" d="M32,20c4.6,0,5.1,0,6.9,0.1c1.7,0.1,2.6,0.4,3.2,0.6c0.8,0.3,1.4,0.7,2,1.3c0.6,0.6,1,1.2,1.3,2 c0.2,0.6,0.5,1.5,0.6,3.2C46,28.9,46,29.4,46,34s0,5.1-0.1,6.9c-0.1,1.7-0.4,2.6-0.6,3.2c-0.3,0.8-0.7,1.4-1.3,2 c-0.6,0.6-1.2,1-2,1.3c-0.6,0.2-1.5,0.5-3.2,0.6C37.1,48,36.6,48,32,48s-5.1,0-6.9-0.1c-1.7-0.1-2.6-0.4-3.2-0.6 c-0.8-0.3-1.4-0.7-2-1.3c-0.6-0.6-1-1.2-1.3-2c-0.2-0.6-0.5-1.5-0.6-3.2C18,39.1,18,38.6,18,34s0-5.1,0.1-6.9 c0.1-1.7,0.4-2.6,0.6-3.2c0.3-0.8,0.7-1.4,1.3-2c0.6-0.6,1.2-1,2-1.3c0.6-0.2,1.5-0.5,3.2-0.6C26.9,20,27.4,20,32,20 M32,17 c-4.6,0-5.2,0-7,0.1c-1.8,0.1-3,0.4-4.1,0.8c-1.1,0.4-2.1,1-3,2s-1.5,1.9-2,3c-0.4,1.1-0.7,2.3-0.8,4.1C15,28.8,15,29.4,15,34 s0,5.2,0.1,7c0.1,1.8,0.4,3,0.8,4.1c0.4,1.1,1,2.1,2,3c0.9,0.9,1.9,1.5,3,2c1.1,0.4,2.3,0.7,4.1,0.8c1.8,0.1,2.4,0.1,7,0.1 s5.2,0,7-0.1c1.8-0.1,3-0.4,4.1-0.8c1.1-0.4,2.1-1,3-2c0.9-0.9,1.5-1.9,2-3c0.4-1.1,0.7-2.3,0.8-4.1c0.1-1.8,0.1-2.4,0.1-7 s0-5.2-0.1-7c-0.1-1.8-0.4-3-0.8-4.1c-0.4-1.1-1-2.1-2-3s-1.9-1.5-3-2c-1.1-0.4-2.3-0.7-4.1-0.8C37.2,17,36.6,17,32,17L32,17z"/><path fill="#fff" d="M32,25c-5,0-9,4-9,9s4,9,9,9s9-4,9-9S37,25,32,25z M32,40c-3.3,0-6-2.7-6-6s2.7-6,6-6s6,2.7,6,6S35.3,40,32,40 z"/><circle cx="41" cy="25" r="2" fill="#fff"/></svg>
          </a>
          <button class="link-button" id="btnCopy">
            <div id="secretInfo" style="display: none;">ping.chat.007@gmail.com</div>
            <svg class="gmail col" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" width="50px" height="50px"><linearGradient id="6769YB8EDCGhMGPdL9zwWa" x1="15.072" x2="24.111" y1="13.624" y2="24.129" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#e3e3e3"/><stop offset="1" stop-color="#e2e2e2"/></linearGradient><path fill="url(#6769YB8EDCGhMGPdL9zwWa)" d="M42.485,40H5.515C4.126,40,3,38.874,3,37.485V10.515C3,9.126,4.126,8,5.515,8h36.969	C43.874,8,45,9.126,45,10.515v26.969C45,38.874,43.874,40,42.485,40z"/><linearGradient id="6769YB8EDCGhMGPdL9zwWb" x1="26.453" x2="36.17" y1="25.441" y2="37.643" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f5f5f5"/><stop offset=".03" stop-color="#eee"/><stop offset="1" stop-color="#eee"/></linearGradient><path fill="url(#6769YB8EDCGhMGPdL9zwWb)" d="M42.485,40H8l37-29v26.485C45,38.874,43.874,40,42.485,40z"/><linearGradient id="6769YB8EDCGhMGPdL9zwWc" x1="3" x2="45" y1="24" y2="24" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#d74a39"/><stop offset="1" stop-color="#c73d28"/></linearGradient><path fill="url(#6769YB8EDCGhMGPdL9zwWc)" d="M5.515,8H8v32H5.515C4.126,40,3,38.874,3,37.485V10.515C3,9.126,4.126,8,5.515,8z M42.485,8	H40v32h2.485C43.874,40,45,38.874,45,37.485V10.515C45,9.126,43.874,8,42.485,8z"/><linearGradient id="6769YB8EDCGhMGPdL9zwWd" x1="24" x2="24" y1="8" y2="38.181" gradientUnits="userSpaceOnUse"><stop offset="0" stop-opacity=".15"/><stop offset="1" stop-opacity=".03"/></linearGradient><path fill="url(#6769YB8EDCGhMGPdL9zwWd)" d="M42.485,40H30.515L3,11.485v-0.969C3,9.126,4.126,8,5.515,8h36.969	C43.874,8,45,9.126,45,10.515v26.969C45,38.874,43.874,40,42.485,40z"/><linearGradient id="6769YB8EDCGhMGPdL9zwWe" x1="3" x2="45" y1="17.73" y2="17.73" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f5f5f5"/><stop offset="1" stop-color="#f5f5f5"/></linearGradient><path fill="url(#6769YB8EDCGhMGPdL9zwWe)" d="M43.822,13.101L24,27.459L4.178,13.101C3.438,12.565,3,11.707,3,10.793v-0.278	C3,9.126,4.126,8,5.515,8h36.969C43.874,8,45,9.126,45,10.515v0.278C45,11.707,44.562,12.565,43.822,13.101z"/><linearGradient id="6769YB8EDCGhMGPdL9zwWf" x1="24" x2="24" y1="8.446" y2="27.811" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#e05141"/><stop offset="1" stop-color="#de4735"/></linearGradient><path fill="url(#6769YB8EDCGhMGPdL9zwWf)" d="M42.485,8h-0.3L24,21.172L5.815,8h-0.3C4.126,8,3,9.126,3,10.515v0.278	c0,0.914,0.438,1.772,1.178,2.308L24,27.459l19.822-14.358C44.562,12.565,45,11.707,45,10.793v-0.278C45,9.126,43.874,8,42.485,8z"/></svg>
          </button>
          <br><br><br><br>
        </div>
      </div>
   </div>
    </main>
    <div class="footer">
      <br><br><p>
        All Rights Reserved ©Ping ThreadRippers India 2020
      </p>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="./JScript/homePage/home.js"></script>
  </body>
</html>