body
{
	display: flex;
	margin: 0;
	padding: 50;
	font-family: sans-serif;
	background: linear-gradient(-45deg, #000000, #0a35f7, #05023a, #23a6d5);
	background-size: 500% 500%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.box{
	justify-content: space-around;
	position: absolute;
	top: 15%;
	left: 25%;
	width: 700px;
	height: auto;
	background: rgba(0, 0, 0, 0.40);
	padding: 40px;
	box-sizing: border-box;
	border :3px solid rgba(66,133,244);
	border-radius: 30px;
}

.box input{
	display: flex;
	text-align: center;
	padding: 6px;
	margin-bottom: 30px;
	margin-left:  150px;
	width: 48%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border:none;
	border-bottom: 2px solid #999;
	border-radius: 8px;
}



.submit,
.submit1{
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border-radius: 25px;
	font-size: 20px;
	height: 40px;
	cursor : pointer;
	background: rgb(23, 55, 105);
	color: #fff;
	margin-bottom: 30px;
	font-family: helvetica;
	word-spacing: 6px;
	letter-spacing: 2px;
	pointer-events: none;
}

.submit.active,
.submit1.on{
	background-color: #23a6d5;
	pointer-events: all;
	cursor: pointer;
}

.box h1{
	text-align: center;
	margin: 0 0 40px;
	padding-top: -10px;
	color: rgb(66,133,244);
	word-spacing: 6px;
	font-family: helvetica;
	letter-spacing: 2px;
}
.box form div
{
	position: relative;
}
.box form div label{
	position: absolute;
	top: 3px;
	pointer-events: none;
	left: 180px;
	transition: .5s;
	font-family: impact;
	letter-spacing: 2px;
}
.box input:focus ~ label,
.box input:valid ~ label
{
	left: 60px;
	top: -20px;
	color: rgb(66,133,244);
	font-size: 12px;
	font-weight: bold;
	font-family: helvetica;
	letter-spacing: 2px;

}
 input:focus,
 input:valid
{
	border-bottom: 2px solid black;
}

img{
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: -1;
}

.image{
	transform: translateX(185%);
}

#lock {
    animation: lock 1s ease-in-out infinite alternate ;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes lock {
    from {
        transform: rotateZ(-10deg);
    }
    to{
        transform: rotateZ(10deg);
    }
}
