* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
}

#Lockopen{
    animation: Lockopen 2s infinite ;
    transform-origin: center;
    transform-box: fill-box;
}
#glitter{
    animation: glitter 8s infinite linear ;
    transform-origin: center;
}
@keyframes Lockopen{
    from {
        transform: rotateZ(-30deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}
@keyframes glitter{
    from {
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}